In [1]:
# Se cargan las librerias necesarias
import pandas as pd 
import numpy as np

Se cargan los datasets para resolver cada funcion

###  Funcion PlayTimeGenre

Para devolver el año con mas horas jugadas en un determinado genero

In [2]:
playtime = pd.read_csv('playtime.csv')
playtime.head()

   genres rel_year  playtime_forever
0  Action     1983              3473
1  Action     1984               384
2  Action     1988             16001
3  Action     1989               607
4  Action     1990             18335

Funcion para la API

In [3]:
def PlayTimeGenre(genre):
    # Filtrar el DataFrame por el género proporcionado
    filtered_data = playtime[playtime['genres'] == genre]
    
    # Agrupar por año y sumar las horas de juego
    grouped = filtered_data.groupby('rel_year')['playtime_forever'].sum().reset_index()
    
    # Encontrar el año con la máxima cantidad de horas de juego
    año_mas_jugado = grouped.loc[grouped['playtime_forever'].idxmax(), 'rel_year']
    
    return print("Año de lanzamiento con más horas jugadas para Género :", genre, int(año_mas_jugado))

In [4]:
PlayTimeGenre('Action')
# http://127.0.0.1:8000/PlayTimeGenre/?genre=action

Año de lanzamiento con más horas jugadas para Género : Action 2012

### Funcion UserForGenre
Para devolver el usuario que acumula mas horas jugadas para un determinado genero y una lista de la acumulacion de horas jugadas por año

In [5]:
userfor = pd.read_csv('userfor.csv')
userfor.head()

             user_id  genres rel_year  playtime_forever
0  76561198029976254  Action     2004                44
1  76561198029976254  Action     2006               944
2  76561198029976254  Action     2007                37
3  76561198029976254  Action     2008               319
4  76561198029976254  Action     2009             13830

Funcion para la API

In [6]:
def UserForGenre(genre):
    # Filtrar el DataFrame por el género dado
    genero = userfor[userfor['genres'] == genre]
    
    if genero.empty:
        print(f"No hay datos para el género '{genre}'.")
        return
    
    # Encontrar el usuario que más horas ha jugado ese género
    max_user = genero.loc[genero['playtime_forever'].idxmax()]['user_id']
    # Se filtra el DataFrame para obtener solo las filas correspondientes al usuario con más horas jugadas en ese género
    usuario = genero[genero['user_id'] == max_user]

    
    # Calcular la acumulación de horas jugadas por año para ese género y usuario               
    agrupar = usuario.groupby('rel_year')['playtime_forever'].sum().reset_index()
    
    # Se vuelve genre_yearly_playtime en un diccionario para mostrar los resultados
    agrupar.columns = ['Year', 'Time']
    agrupar_dict = agrupar.to_dict(orient='records')
    result = {"Usuario con más horas jugadas para Género " + genre: max_user,
        "Horas jugadas": agrupar_dict}
    
    return result

In [7]:
# Llamada a la función con el género deseado (por ejemplo, 'Action')
UserForGenre('Action')
# http://127.0.0.1:8000/UserForGenre/?genre=action

{'Usuario con más horas jugadas para Género Action': 'REBAS_AS_F-T',
 'Horas jugadas': [{'Year': '1998', 'Time': 2},
  {'Year': '1999', 'Time': 225},
  {'Year': '2001', 'Time': 11},
  {'Year': '2002', 'Time': 1},
  {'Year': '2003', 'Time': 1863},
  {'Year': '2004', 'Time': 2115},
  {'Year': '2005', 'Time': 3293},
  {'Year': '2006', 'Time': 138},
  {'Year': '2007', 'Time': 684},
  {'Year': '2008', 'Time': 3791},
  {'Year': '2009', 'Time': 26635},
  {'Year': '2010', 'Time': 31315},
  {'Year': '2011', 'Time': 72495},
  {'Year': '2012', 'Time': 115563},
  {'Year': '2013', 'Time': 159890},
  {'Year': '2014', 'Time': 230625},
  {'Year': '2015', 'Time': 218918},
  {'Year': '2016', 'Time': 231321},
  {'Year': '2017', 'Time': 3716},
  {'Year': 'No_disponible', 'Time': 7869}]}

### Funcion UsersRecommend
Para devolver el top 3 de juegos mas recomendados por usuarios para el año dado <br>

In [8]:
user_recom = pd.read_csv('user_recom.csv')
user_recom.head()

    año         app_name
0  2010  Team Fortress 2
1  2010      Alien Swarm
2  2010    Killing Floor
3  2011  Team Fortress 2
4  2011         Portal 2

Funcion para la API

In [9]:
def UsersRecommend(año):
    # Filtrar el DataFrame por el año proporcionado
    filtro = user_recom[user_recom['año'] == año]
    
    # Obtener los nombres de app_name en el mismo orden que aparecen en el DataFrame original
    nombres_app = filtro['app_name'].tolist()
    resultado = {f'Puesto {i+1}': app for i, app in enumerate(nombres_app)}
    
    return resultado

In [10]:
UsersRecommend(2011)
# http://127.0.0.1:8000/UsersRecommend/?año=2011

{'Puesto 1': 'Team Fortress 2', 'Puesto 2': 'Portal 2', 'Puesto 3': 'Terraria'}

### Funcion UsersWorstDeveloper 
Para devolver el top 3 de las desarrolladoras con juegos menos recomendados por usuarios para el año dado

In [11]:
user_worst = pd.read_csv('user_worst.csv')
user_worst.head()

    año        developer
0  2011     Broken Rules
1  2011       1C Company
2  2011            Valve
3  2012  Slant Six Games
4  2012         Treyarch

Funcion para la API

In [12]:
def UsersWorstDeveloper(año):
    # Filtrar el DataFrame por el año proporcionado
    filtro = user_worst[user_worst['año'] == año]
    
    # Obtener los nombres de app_name en el mismo orden que aparecen en el DataFrame original
    developer = filtro['developer'].tolist()
    resultado = {f'Puesto {i+1}': app for i, app in enumerate(developer)}
    
    return resultado

In [13]:
UsersWorstDeveloper(2012)
# http://127.0.0.1:8000/UsersWorstDeveloper/?año=2012

{'Puesto 1': 'Slant Six Games', 'Puesto 2': 'Treyarch', 'Puesto 3': 'Valve'}

### Funcion sentiment_analysis 
Segun la empresa desarrolladora se devuelve un diccionario donde la clave es la desarrolladora y una lista con la cantidad total de registros<br>
positivos, negativos y neutrales. <br>

In [14]:
sa = pd.read_csv('sa.csv')
sa.head()

                               developer  Negative  Neutral  Positive
0                         07th Expansion         1        2         0
1  10th Art Studio,Adventure Productions         1        0         0
2                             10tons Ltd         0        0         1
3                         11 bit studios        27        9        25
4                               14° East         1        0         1

In [15]:
def sentiment_analysis(developer):
    filtro = sa.loc[sa['developer'] == developer]
    resultado = {
        developer: {
            'Negative': filtro.iloc[0, 1], 
            'Neutral': filtro.iloc[0, 2],   
            'Positive': filtro.iloc[0, 3]  
                         }
                }
    return resultado

In [16]:
# Llamada a la función
sentiment_analysis('Gaijin Games')
# http://127.0.0.1:8000/sentiment_analysis/?developer=Gaijin Games

{'Gaijin Games': {'Negative': 7, 'Neutral': 8, 'Positive': 23}}